.levelList {
  margin-top: 32px;
  display: flex;
  gap: 8px;
}

.levelItem {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #121417;
}
.levelItem:first-child {
  background-color: #f4c550;
  border: none;
}

@media (max-width: 1349px) {
  .levelList {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
