.section {
  background-color: #eeeeee;
  padding: 128px;
  display: flex;
  flex-direction: column;
}

.teachersList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreButton {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  background-color: #f4c550;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  margin-top: 64px;
}

.loadMoreButton:hover,
.loadMoreButton:active {
  background-color: #ffdc86;
}

.loader {
  margin: 0 auto;
}

@media (max-width: 1349px) {
  .section {
    padding: 64px;
  }
}
