.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #eeeeee;
  width: 100%;
}

@media (max-width: 1439px) {
  .teachers {
    display: block;
  }
}
